@font-face {
    font-family: 'MillerBanner';
    src: url('../public/fonts/FontBureau-MillerBannerLight.otf');
}

@font-face {
    font-family: 'Helvetica-Neue';
    src: url('../public/fonts/Helvetica-Neue.ttf');
}

@font-face {
    font-family: 'Open-Sans';
    src: url('../public/fonts/OpenSans-Regular.ttf');
}

body {
    font-family: 'Open-Sans';
    color: #202020;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}

p, h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

button {
    background-color: transparent;
    border: none;
}

.navigation {
    border-bottom: .5px solid #B69F58;
    width: 100%;
    height: 64px;
    text-align: center;
    font-family: 'MillerBanner';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: move-to-the-bottom 800ms;
}

.navigation__backBtn, .navigation__settingsBtn {
    margin-left: 10px;
    margin-right: 10px;
}

.salonNavigation {
    position: relative;
    background-image: url("../public/images/background_photo@3x.png");
    background-size: cover;
    height: 250px;
    display: flex;
    justify-content: space-between;
    animation: move-to-the-bottom 1000ms;
}

.salonNavigation__arrowBtn, .salonNavigation__heartBtn {
    padding: 20px;
    height: fit-content;
}

.salonNavigation__bottomInfo {
    position: absolute;
    bottom: 0px;
    padding: 15px;
    color: #fff;
}

.salonNavigation__salonName {
    font-family: 'MillerBanner';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.15px;
}

.priceSelection {
    border-bottom: .5px solid #B69F58;
    height: fit-content;
    line-height: 20px;
    display: flex;
    align-items: center;
    font-weight: 300;
    justify-content: space-between;
    animation: move-to-the-bottom 800ms;
}

.priceSelection__price {
    padding: 15px 0px;
    margin: 0 15px;
    width: 100%;
}

.priceSelection__priceContainer {
    width: 90%;
}

.priceSelection__checkboxes {
    display: flex;
    border-bottom: .5px solid #EEEEEE;
    animation:  move-to-the-bottom-with-opacity 1000ms;;
}

.round {
    position: relative;
    align-self: center;
    margin-right: 15px;
}

.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 15px;
    left: 0;
    position: absolute;
    top: 0;
    width: 15px;
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 5px;
    left: 3px;
    opacity: 0;
    position: absolute;
    top: 3px;
    transform: rotate(-45deg);
    width: 7px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
    background-color: #B69F58;
    border-color: #B69F58;
}

.round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.salonItem__container {
    display: flex;
    width: 100%;
    text-decoration: none;
    color: inherit;
    align-items: center;
    animation: move-to-the-top 1000ms;
}

.priceSelection__arrowDown {
    margin-right: 10px;
}

.salonItem {
    flex-grow: 1;
    position: relative;
    margin-left: 15px;
    display: flex;
    border-bottom: .5px solid #EEEEEE;
    min-height: 104px;
    max-height: fit-content;
    padding-top: 18px;
    box-sizing: border-box;
}

.salonItem-hour {
    flex-grow: 2;
    font-weight: 400;
    font-size: 15px;
    margin-top: 5px;
    margin-right: 10px;
}

.salonItem-details {
    flex-grow: 8;
    font-size: 20px;
    font-weight: 300;
    font-family: 'MillerBanner';
    line-height: 24px;
}

.salonItem-details-address {
    color: #656565;
    font-family: 'Open-Sans';
    font-weight: 300;
    font-size: 15px;
    padding-bottom: 10px;
}

.salonItem-arrow {
    width: 30px;
}

.salonItem__rightElem  {
    flex-grow: 2;
    margin-top: 5px;
    text-align: right;
    padding-right: 18px;
}

.salonItem__rightElem__price {
    line-height: 20px;
    font-family: "Helvetica-Neue";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}

.salonItem__rightElem__duration {
    font-size: 13px;
    line-height: 16px;
    margin-top: 5px;
    color: #656565;
}

.salonDetails {
    background-color: #eee;
    height: 100%;
}

.salonInfo {
    margin-top: 15px;
    background-color: #fff;
    animation: move-to-the-top 1000ms;
}

.salonNavigation__tabs {
    animation: move-to-the-bottom 1000ms;
}

.salonNavigation__tabs__infoTab {
    background-color: #fff;
    width: 50%;
    height: 45px;
    box-shadow: 0px 0.5px 0px #EEEEEE;
    letter-spacing: -0.15px;
    font-family: 'Open-Sans';
    font-weight: 400;
    font-size: 15px;
}

.salonNavigation__tabs__infoTab--active {
    border-bottom: 2px solid #B69F58;
}

.salonInfo__item {
   display: flex;
   margin-left: 16px;
   margin-right: 16px;
   border-bottom: .5px solid #EEE;
}

.salonInfo__item:last-child {
    border-bottom: none
}

.salonInfo__item__icon {
    margin: 20px 10px 20px 0px;
}

.salonInfo__item__txt {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    margin: 19px 0px;
}

.salonRating {
    padding: 8px 0px;
    display: flex;
}

.salonRating__numberOfRating {
    font-family: 'Open-Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 12px;
    color: #656565;
    margin-left: 5px;
}

.salonRating__numberOfRating--big {
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}

/*ANIMATIONS*/

@keyframes move-to-the-bottom {
    0% {
        transform: translateY(-400px);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes move-to-the-top {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes move-to-the-bottom-with-opacity {
    0% {
        transform: translateY(-20%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}
